<h2 class="text-center fontTitle">Gastos</h2>
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-danger" (click)="restablecerGastos()" type="button">Restablecer Gastos</button>
</div>
<!-- <div class="d-grid gap-2 mt-4 mt-auto p-2 bd-highlight">
    <button class="btn btn-danger" (click)="restablecerGastos()" type="button">Restablecer Gastos</button>
</div> -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <app-ingresar-gasto></app-ingresar-gasto>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <app-listar-gasto></app-listar-gasto>
            </div>
        </div>
    </div>    
</div>
